@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&display=swap');

body {
    background-color: #06114a;
}

.ff-anton {
    font-family: 'Anton', sans-serif;
}

.bg-oficial {
    background: linear-gradient(to bottom, #001db5, #0c1959);
}

.color-oficial {
    color: #001db5;
}

.bg-search {
    background-color: #06114a;
}

.all-viewport {
    width: 100vw;
    height: 100dvh;
}

.form-page {
    width: 30%;
    border-radius: 15px;
}

.form-movie {
    width: 60%;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    .form-page {
        width: 50%;
    }
}


@media (max-width: 992px) {
    .form-page {
        width: 60%;
    }
    .form-movie {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .form-page {
        width: 95%;
    }
    .form-movie {
        width: 100%;
        border-radius: 15px;
    }
}